<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }

        body {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            background-color: white;
        }

        form {
            width: auto;
            height: auto;
        }

        form > input {
            width: 20em;
            padding: 1em;
            border: none;
            border-radius: 1em;
            font-size: 1.5em;
            letter-spacing: 0.05em;
            background-color: steelblue;
            color: white;
        }

        form > input:focus {
            outline: none;
            color: rgb(4, 83, 4);
            background-color: rgb(136, 174, 204);
        }

        form > input::placeholder {
            color: lightgray;
            letter-spacing: 0em;
        }

    </style>
</head>
<body>
    <!-- <form action="/dashboard" method="POST">
        <input type="text" name="username" required placeholder="type your username and press enter."> 
    </form> -->
    

    <!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
  
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Login now</h2>
              <form action="/dashboard" method="POST">
             
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" name="username" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Type your username and press enter</label>
                </div>

              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
</body>
</html>